hostname {{ hostname }}
ip domain-name {{ domain }}

user admin group administrators password ciphertext {{ local_password }}

interface vlan 1
    ip address dhcp
    no shutdown

ssh server vrf default

crypto key generate rsa bits 4096

! --- SSH Hardening ---
ssh cipher aes256-ctr aes192-ctr aes128-ctr
ssh mac hmac-sha2-256 hmac-sha2-512
ssh kex diffie-hellman-group14-sha256 diffie-hellman-group16-sha512
ssh key-exchange-timeout 60
ssh authentication-retries 3
no telnet-server

! --- SNMP v3 ---
snmp-server group SNMP-RO v3 priv
snmp-server user snmp-admin SNMP-RO v3 auth sha {{ snmp_auth_pass }} priv aes {{ snmp_priv_pass }}
snmp-server location {{ location }}
snmp-server contact noc@{{ domain }}

banner motd #
*************************************************************
* AUTHORIZED ACCESS ONLY                                    *
* Unauthorized access is prohibited and will be prosecuted.*
* All sessions are monitored and logged.                    *
*************************************************************
#