hostname {{ hostname }}
ip domain-name {{ domain }}

crypto key generate rsa modulus 4096

username admin privilege 15 algorithm-type scrypt secret {{ local_password }}
enable algorithm-type scrypt secret {{ enable_secret }}

service password-encryption

interface Vlan1
 ip address dhcp
 no shutdown

ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 3
ip ssh dh min size 4096
ip ssh server algorithm encryption aes256-ctr aes192-ctr aes128-ctr
ip ssh server algorithm mac hmac-sha2-256 hmac-sha2-512
ip ssh server algorithm kex diffie-hellman-group14-sha256 diffie-hellman-group16-sha512

line vty 0 15
 transport input ssh
 login local
 exec-timeout 15 0
 privilege level 15

line con 0
 login local
 exec-timeout 15 0

no snmp-server community public
no snmp-server community private
snmp-server group SNMP-RO v3 priv
snmp-server user snmp-admin SNMP-RO v3 auth sha {{ snmp_auth_pass }} priv aes 128 {{ snmp_priv_pass }}
snmp-server location {{ location }}
snmp-server contact noc@{{ domain }}

banner motd #
*************************************************************
* AUTHORIZED ACCESS ONLY                                    *
* Unauthorized access is prohibited and will be prosecuted.*
* All sessions are monitored and logged.                    *
*************************************************************
#

end